---
title: Asuransi Tokopedia
userName: "{{.name}}"
iconUrl: 'https://ecs7.tokopedia.net/fintech/insurance/assets//readiness-illustration.png'
introTitle: "Kamu mendapat kupon belanja {{.coupon_nominal}} dari Jaminan Ready stock"
iconWidth: 360px
steps:
- image: https://ecs7.tokopedia.net/fintech/insurance/assets/readiness-open-promo.png
  text: Belanja lalu pada halaman keranjang atau pengiriman, klik <b>bagian promo</b>.
- image: https://ecs7.tokopedia.net/fintech/insurance/assets/readiness-open-promo.png
  text: <b>Salin dan tempel</b> kode promo dari e-mail ke halaman Pakai Promo.
- image: https://ecs7.tokopedia.net/fintech/insurance/assets/readiness-howto-03-200505.png
  text: Kupon berhasil terpasang, belanjaanmu akan <b>dapat diskon!</b>
tnc:
- Kode voucher potongan ini dapat digunakan hingga Tanggal - Bulan - Tahun pukul 23.59 WIB.
- Pengguna akan mendapatkan potongan belanja langsung sebesar Rp15,000 dengan minimum pembelanjaan di atas Rp15,000.
- Voucher potongan berlaku untuk pembelanjaan di Market Place Tokopedia (tidak termasuk produk digital dan finansial)
- Satu akun Tokopedia dan/atau satu nomor handphone, satu identitas resmi/KTP hanya bisa menggunakan kode ini sebanyak satu kali.
- Kode voucher ini tidak dapat digabung dengan promo lainnya yang sedang berlangsung di Tokopedia, kecuali merchant voucher.
- Pembayaran berlaku dengan menggunakan semua metode pembayaran di Tokopedia.
- Tokopedia berhak, tanpa pemberitahuan sebelumnya, melakukan tindakan-tindakan yang diperlukan apabila diduga terjadi tindakan kecurangan dari pengguna.
- Syarat dan ketentuan kode voucher ini merupakan bagian yang tidak terpisahkan dari Syarat dan Ketentuan Tokopedia Jaminan Ready Stock, dan sewaktu-waktu dapat berubah tanpa pemberitahuan

---
<table class="body">
  {{> intro}}
  <tr>
    <td class="section pt0">
      <p>Terima kasih telah menambahkan <b>Proteksi Readiness</b> pada transaksi <b>\{{.invoice}}.</b></p>
      <p>Pesananmu baru saja <b>dibatalkan penjual karena stok habis</b>. Sesuai perlindungan Proteksi Readiness, kamu berhak mendapatkan kompensasi berupa:</p>
    </td>
  </tr>

  <tr>
    <td class="section">
      <div class="p4 rounded-corner background-color-n50" style="width: 360px; margin-left: auto; margin-right: auto">
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="16px" class="background-color-b500" style="border-radius:8px 0 0 0"></td>
            <td class="align-center background-color-b500 color-n0 pt4">
              <p>Kupon Senilai</p>
              <p class="py2" style="font-size:36px"><b>\{{.coupon_nominal}}</b></p>
              <p>Berlaku hingga <b>\{{.coupon_expired_date}}</b></p>
            </td>
            <td width="16px" class="background-color-b500" style="border-radius:0 8px 0 0"></td>
          </tr>

          <tr>
            <td class="background-color-b500 p0">
              <div class="background-color-n50 full-width" style="border-radius:0 100% 0 0;height:16px"></div>
            </td>
            <td class="background-color-b500"></td>
            <td class="background-color-b500 p0">
              <div class="background-color-n50 full-width" style="border-radius:100% 0 0 0;height:16px"></div>
            </td>
          </tr>

          <tr>
            <td class="background-color-n0 p0">
              <div class="background-color-n50 full-width" style="border-radius:0 0 100% 0;height:16px"></div>
            </td>
            <td class="background-color-n0"></td>
            <td class="background-color-n0 p0">
              <div class="background-color-n50 full-width" style="border-radius:0 0 0 100%;height:16px"></div>
            </td>
          </tr>

          <tr>
            <td width="16px" class="background-color-n0" style="border-radius:0 0 0 8px"></td>
            <td class="align-center pb4 background-color-n0">
              <p>Kode Promo</p>
              <p class="py2 color-g500" style="font-size: 24px;"><b>\{{.coupon_code}}</b></p>
              <p>Hanya dapat digunakan pada Kategori <b>Belanja</b></p>
            </td>
            <td width="16px" class="background-color-n0" style="border-radius:0 0 8px 0"></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td class="section">
      <h2>Cara menggunakan</h2>
      <table style="border-spacing:0">
        <tbody>
          <tr>
            {{#each steps}}
              <td>
                <img width="128" height="128" src={{this.image}}><br><br>
                <small>{{{this.text}}}
                </small>
              </td>
            {{/each}}
          <tr>
        </tbody>
      </table>
    </td>
  </tr>

   <tr>
    <td class="section">
      <table width="100%">
        <tr>
          <td width="50%">
            <a href="https://www.tokopedia.com/help/search?q=asuransi&refid=pg-11" class="btn block main">
              Info Asuransi
            </a>
          </td>
          <td width="50%">
            <a href="https://www.tokopedia.com/" class="btn block main ghost">Belanja di Tokopedia</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td class="section">
      <h2>Syarat dan ketentuan penggunaan kode voucher</h2>
      <ol>
        {{#each tnc}}
          <li class="mb2">{{this}}</li>
        {{/each}}
      </ol>
    </td>
  </tr>
  {{> footer type="investment-gold"}}
</table>